<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/button.css">
</head>

<body>
    {{>header}}

    <main class="site-main">
        <header>
            <h1>Login</h1>
        </header>

        {{> error}}

        <form action="/login" method="POST" class="form-group">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" value="{{oldInput.username}}">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="buttons-container">
                <button type="submit" class="button">Login</button>
            </div>
        </form>

        <a class="link" href="/reset-password">Forgot password</a>
    </main>

    <div class="footer-container">
        {{>footer}}
    </div>
</body>

</html>