<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/button.css">
</head>

<body>
    {{>header}}

    <main class="site-main">
        <header>
            <h1>Product Shop Login</h1>
        </header>

        {{> error}}

        <form action="/reset-password" method="POST" class="form-group">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="{{oldInput.email}}">
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <div class="buttons-container">
                <button type="submit" class="button">Reset Password</button>
            </div>
        </form>
    </main>

    <div class="footer-container">
        {{>footer}}
    </div>
</body>

</html>