<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    {{> header}}

    <main class="site-main">
        <h1>Oooops</h1>
        <h2>Sorry we couldnt find the page you are looking for!</h2>
        <p>Error code: {{errorCode}}</p>
    </main>

    {{> footer}}
</body>

</html>